<div class="notification">
  <h2 class="title" translate>ABOUT.CERTIFICATION</h2>
  <ul>
    <li *ngFor="let cert of certifications; let i = index">
      <a (click)="showCertification(i)">
        {{ cert.title }} ( {{ cert.acronym }} )
      </a>
    </li>
  </ul>
</div>

<div class="modal" [ngClass]="{'is-active': isShowCertification}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3" *ngIf="certification.image != ''">
      <img src="assets/img/certifications/{{ certification.image }}" alt="{{ certification.title }}">
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="showCertification(-1)"></button>
</div>