<div class="notification">
  <h2 class="title" translate>PROJECT.SCREEN</h2>
  <div class="carousel">
    <div class="carousel-container">
      <div class="carousel-content carousel-animate carousel-animate-slide">
        <div class="carousel-item" *ngFor="let image of images; let i = index">
          <img class="is-background" src="assets/img/projects/{{code}}/{{image.file}}" alt="{{image.title}}"/>
          <div class="title">{{ image.title }}</div>
        </div>
      </div>
      <div class="carousel-nav-left">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
      <div class="carousel-nav-right">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>

