.quickview{
    color: white;
    .quickview-header{
        background-color: hsl(204, 86%, 53%);
        color: white;
    }
    .quickview-body{
        background-color: hsl(204, 100%, 77%);
        color: #4A4A4A;
        padding: 1rem;
    }
}