<div class="notification">
    <div class="columns" [@fadeAnimation]>
        <div class="column is-3">
            <app-introduction></app-introduction>
        </div>
        <div class="column is-9">
            <div class="columns">
                <div class="column">
                    <app-education></app-education>
                    <app-certification></app-certification>
                </div>
                <div class="column">
                    <app-experience></app-experience>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                        <app-skill></app-skill>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <app-profile></app-profile>
                </div>
            </div>
        </div>
    </div>
</div>