<div class="notification">
  <h2 class="title" translate>ABOUT.INTRODUCTION.TITLE</h2>
  <figure class="image is-square">
    <img src="assets/img/photo.jpg">
  </figure>
  <ul>
      <li>
        <a href="https://www.gitbook.com/@ao6swind">
          <i class="fa fa-5x fa-github-square" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/haoyu.wu.90">
          <i class="fa fa-5x fa-facebook-square" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  <table class="table is-fullwidth">
    <tr>
      <td translate nowrap="nowrap" class="has-text-right">ABOUT.INTRODUCTION.BIRTHDAY</td>
      <td>{{ introduction.birthday }}</td>
    </tr>
    <tr>
      <td translate nowrap="nowrap" class="has-text-right">ABOUT.INTRODUCTION.EDUCATION</td>
      <td>{{ introduction.education }}</td>
    </tr>
    <tr>
      <td translate nowrap="nowrap" class="has-text-right">ABOUT.INTRODUCTION.EMAIL</td>
      <td><a href="mailto:ao6swind@hotmail.com">ao6swind@hotmail.com</a></td>
    </tr>
    <tr>
      <td translate nowrap="nowrap" class="has-text-right">ABOUT.INTRODUCTION.RESUME.LABEL</td>
      <td><a href="assets/doc/{{ introduction.resume }}" download translate>ABOUT.INTRODUCTION.RESUME.FILE</a></td>
    </tr>
  </table>
 
</div>
